.hero_wrapper {
  width: 100%;
  position: relative;
  height: 80dvh;
}

.hero_wrapper:after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.918) 0%,
      transparent 100%
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.507), transparent);
  pointer-events: none;
}

.hero_title_cont {
  position: relative;
  isolation: isolate;
  z-index: 1;
}

.mission_card {
  aspect-ratio: 400/400;
  border-radius: var(--mantine-radius-lg);
  position: relative;
  border: thin solid var(--mantine-color-default-border);
  overflow: hidden;

  transition: all 200ms ease;
}

.mission_card:after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.918) 0%,
      transparent 100%
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.267), transparent);
}


.mission_card_content {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: var(--mantine-spacing-md);
  z-index: 3;
  isolation: isolate;
}

.mission_card_content_text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  line-height: 1.2em;
  margin: 0;
  transition: line-clamp 200ms ease;
}

.mission_card:hover .mission_card_content_text {
  -webkit-line-clamp: 4;
  line-clamp: 4;
}

.founder_image_card {
  aspect-ratio: 350/400;
  border-radius: var(--mantine-radius-lg);
  overflow: hidden;
}

.founder_image_card image {
  background-size: contain;
}

.founder_comment_box {
  width: 100%;
  height: 100px;
  position: absolute;
  z-index: 3;
  bottom: 0;
  border-top-left-radius: var(--mantine-radius-lg);
  border-top-right-radius: var(--mantine-radius-lg);
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: thin solid var(--mantine-color-gray-5);
  border-bottom: none;
  background-color: rgba(48, 48, 48, 0.582);
}


.impact_img {
  filter: contrast(1);
  filter: grayscale(1);
  background-position: center;
  background-size: cover;
  height: 600px;
}

.impact_box {
  height: 100%;
  background-color: rgb(250, 244, 236);
  padding: var(--mantine-spacing-sm);
}